{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'une équipe {% endblock %}

{% block contenu %} <h1> Modification d'une équipe </h1> 

    {% if e is defined %} 
        {% if e != null %}    
            <div class="panel-body">
                <form  class="form-signin" action="index.php?page=equipemodif" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" id="id" name="id" value="{{e.id}}"/> 
                    <label for="libelle" class="sr-only">Libellé:</label>
                    <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Saisir un libellé" value="{{e.libelle}}" required autofocus>
                    <label for="responsable" class="sr-only">Responsable:</label>
                    <select name="responsable" class="form-control">   
                        <option disabled>Responsable non identifié</option> 
                        {% for u in liste %}
                            {% if e.emailResp == u.email %}  
                                <option value="{{ u.email }}" selected>{{ u.nom }} {{ u.prenom }}</option> 
                            {% else %} 
                                <option value="{{ u.email }}">{{ u.nom }} {{ u.prenom }}</option>
                            {% endif %}      
                        {% endfor%}    
                    </select>    
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Ajouter</button>
                </form>
            </div> 
        {% else %}  
            {% if form.valide == true %}
                <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=equipe" class="violet">Retourner sur la liste des équipes</a></h1>
            {% else %}    
                <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=equipe" class="violet">Retourner sur la liste des équipes</a></h1>
            {% endif %} 
        {% endif %} 
    {% else %} 
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=equipe" class="violet">Retourner sur la liste des équipes</a></h1>

    {% endif %}
{% endblock %} 
