{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %} 

    {%if session.login is not defined %}  

        <form class="form-signin" action="index.php?page=connexion" method="post" enctype="application/x-www-form-urlencoded">
            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous au tableau de bord</h1>
            <label for="email" class="sr-only">Email:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
            <label for="password" class="sr-only">Mot de passe:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
            <button class="btn btn-lg  btn-block" type="submit" name="btConnecter">Se connecter</button>
            <a href="index.php?page=inscrire">S'inscrire</a>  
        </form>
    {% else %}    
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes connecté sur le tableau de bord</h1>
        {%if session.role == 1 %}
            <div class="panel">
                <div class="panel-heading background-violet">En tant qu'administrateur vous avez accès à :</div>
                <div class="panel-body violet">
                    <ul>
                        <li><a href="index.php?page=utilisateur" class="violet">Gestion des utilisateurs</a></li>
                        <li><a href="index.php?page=outils" class="violet">Gestion des outils</a></li>
                        <li><a href="index.php?page=projet" class="violet">Gestion des projets</a></li>
                        <li><a href="index.php?page=equipe" class="violet">Gestion des équipes</a></li>
                    </ul>    
                </div>    
            </div>
        {% endif %}
        {%if session.role == 2 %}
            <div class="panel">
                <div class="panel-heading background-violet">En tant que développeur vous avez accès à :</div>
                <div class="panel-body violet">
                    <ul>
                        <li><a href="index.php?page=outilschoisir" class="violet">Choisir les outils</a></li>
                        <li><a href="index.php?page=tachevoir" class="violet">Voir mes tâches</a></li>
                    </ul>    
                </div>
                <div class="panel-heading background-violet">En tant que responsable vous avez accès à :</div>
                <div class="panel-body violet">
                    <ul>
                        <li><a href="index.php?page=projetvoir" class="violet">Voir mes projets</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if session.role == 3 %}

            <div class="panel">
                <div class="panel-heading background-violet">En tant qu'entreprise vous avez accès à :</div>
                <div class="panel-body violet">
                    <ul>
                        <li><a href="index.php?page=projetliste" class="violet">Gestion de vos projets</a></li>
                        <li><a href="index.php?page=projetajout" class="violet">Demander un projet</a></li>
                    </ul>    
                </div>    
            </div>

        {% endif %}

    {% endif %}      

{% endblock %} 

