{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des outils {% endblock %}

{% block contenu %} <h1> Choisir des outils </h1> 


    <form class="form-signin" action="index.php?page=outilschoisir" method="post" enctype="application/x-www-form-urlencoded">
        <label for="code" class="sr-only">Outil:</label>
        <select name="code" id="code" class="form-control">
            <option disabled selected>Choisir un outil</option> 
            {% for o in listeoutils %}
                <option value="{{ o.code }}">{{ o.libelle }} {{ o.version }}</option> 
            {% endfor%}    
        </select>    

        <button class="btn btn-lg  btn-block" type="submit" name="btChoisir">Ajouter</button>

    </form>

    <br>        

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading background-violet">Liste des outils</div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr><th>Libellé</th><th>Version</th><th></th></tr>
                        {% for o in liste %}
                    <tr><td>{{o.libelle}}</td><td>{{o.version}}</td><td><div class="btn-group btn-group-lg"><a href="index.php?page=outilschoisir&code={{o.code}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td></tr> 
                                {% endfor %}    
            </table>
        </div>
    </div>

{% endblock %} 

