{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des outils {% endblock %}

{% block contenu %}

    <form class="form-signin" action="index.php?page=outilsmodif" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Modifier un utilisateur</h1>
        <label for="libelle" class="sr-only">Libellé:</label>
        <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Libellé" value="{{o.libelle}}">
        <label for="version" class="sr-only">Version:</label>
        <input type="text" id="version" name="version" class="form-control" placeholder="Version" value="{{o.version}}">

        <input type="hidden" name="code" value="{{o.code}}">
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>

    </form>
        
{% endblock %}