{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Liste des projets{% endblock %}
{% block contenu %}<h1>Liste des projets de {{entreprise.denomination}}</h1>

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading background-violet">Liste des projets</div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr><th>Libellé</th><th>Statut</th><th>Date de signature</th></tr>
                {% for p in projets %}
                <tr>
                <td>{{p.libelle}}</td>
                <td>{{p.libelleStatut}}</td>
                <td>{{p.dateSign}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <form action="index.php?page=projetclientvoir&email={{email}}" method="post">
        <button name="btDL" type="submit">Télécharger</button>
        </form>
    </div>
{% endblock %}