{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Liste des projets{% endblock %}
       
{% block contenu %}<h1>Liste des projets</h1>
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste de vos projets</div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Libellé</th><th>Description</th><th>Statut</th></tr>
   {% for p in liste %}
          <tr><td>{{p.libelle}}</td><td>{{p.description}}</td><td>{{p.libelleStatut}}</td></tr> 
   {% endfor %}    
  </table>
  </div>
</div>

{% endblock %} 