{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'une tâche {% endblock %}

{% block contenu %} <h1>Ajout d'une tâche</h1> 



    <div class="panel-body">
        <form  class="form-signin" action="index.php?page=tacheajout&code={{codeproj}}" method="post" enctype="application/x-www-form-urlencoded">
            <label for="libelle" class="sr-only">Libellé:</label>
            <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Saisir un libellé" required autofocus>
            <label for="commentaire" class="sr-only">Commentaires:</label>
            <textarea id="commentaire" name="commentaire" placeholder="Saisir des commentaires" required class="form-control"></textarea>
            <label for="dateD" class="sr-only">Date de début:</label>
            <input type="date" id="dateD" name="dateD" class="form-control" required>
            <label for="dateF" class="sr-only">Date de fin:</label>
            <input type="date" id="dateF" name="dateF" class="form-control" required>

            <label for="developpeur" class="sr-only">Développeur:</label>
                {% for d in listedevs %}
                    <input type="checkbox" name="developpeur[]" value="{{d.email}}">{{d.nom}} {{d.prenom}}
                {% endfor%}    

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
        </form>
    </div>    

{% endblock %} 
