{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'une tâche {% endblock %}

{% block style %}
  {% endblock %}

{% block contenu %} <h1>Modification d'une tâche</h1> 



    <div class="panel-body">
        <form  class="form-signin" action="index.php?page=tachemodif&code={{t.code}}" method="post" enctype="application/x-www-form-urlencoded">
            <label for="libelle" class="sr-only">Libellé:</label>
            <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Saisir un libellé" value="{{ t.libelle }}" required autofocus>
            <label for="commentaire" class="sr-only">Commentaires:</label>
            <textarea id="commentaire" name="commentaire" placeholder="Saisir des commentaires" required class="form-control">{{ t.commentaire }}</textarea>
            <label for="dateD" class="sr-only">Date de début:</label>
            <input type="date" id="dateD" name="dateD" class="form-control" value="{{ t.dateDeb }}" required>
            <label for="dateF" class="sr-only">Date de fin:</label>
            <input type="date" id="dateF" name="dateF" class="form-control" value="{{ t.dateFin }}" required>  

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
        </form>
    </div>
<div class="left-dropzone">
<h4>Liste des développeurs :</h4>
    <ul id="outdropzone">
    {% for d in lesDevs %}
        <li class="drag-drop" data-isoutside="true" data-email="{{d.email}}"><span>{{ d.nom }} {{ d.prenom }}</span></li>
    {% endfor %}
    </ul>
</div>
<div id="dropzone" class="ml-2">
    <h4>Développeurs de la tâche :</h4>
        <ul id="indropzone">
    {% for d in lesDevsDeTache %}
        <li class="drag-drop" data-isoutside="false" data-email="{{d.email}}"><span>{{ d.nom }} {{ d.prenom }}</span></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
{% block script %}
<script src="js/interactjs.min.js"></script>
<script>
/* The dragging code for '.draggable' from the demo above
     * applies to this demo as well so it doesn't have to be repeated. */

    // enable draggables to be dropped into this
    interact('#dropzone').dropzone({
        // only accept elements matching this CSS selector
        accept: '.drag-drop',
        // Require a 75% element overlap for a drop to be possible
        overlap: 0.75,

        // listen for drop related events:

        ondropactivate: function (event) {
            // add active dropzone feedback
            event.target.classList.add('drop-active')
        },
        ondragenter: function (event) {

            var draggableElement = event.relatedTarget;
            var dropzoneElement = event.target;

            draggableElement.setAttribute('data-isoutside', 'false');

            // feedback the possibility of a drop
            dropzoneElement.classList.add('drop-target');
            draggableElement.classList.add('can-drop');

        },
        ondragleave: function (event) {

            var draggableElement = event.relatedTarget;
            var dropzoneElement = event.target;

            draggableElement.setAttribute('data-isoutside', 'true');

            // remove the drop feedback style
            dropzoneElement.classList.remove('drop-target');
            draggableElement.classList.remove('can-drop');

        },
        ondrop: function (event) {
            
        },
        ondropdeactivate: function (event) {
            // remove active dropzone feedback
            event.target.classList.remove('drop-active');
            event.target.classList.remove('drop-target');

                var draggableElement = event.relatedTarget;
                var dropzoneElement = event.target;
                
                draggableElement.style.transform = "";
                draggableElement.setAttribute('data-x', 0);
                draggableElement.setAttribute('data-y', 0);

            if(draggableElement.getAttribute('data-isoutside') == "true"){

                    draggableElement.parentNode.removeChild(draggableElement);
                    document.getElementById('outdropzone').appendChild(draggableElement);

                    var action = "supprimer";

            } else {

                    draggableElement.parentNode.removeChild(draggableElement);
                    document.getElementById('indropzone').appendChild(draggableElement);

                    var action = "ajouter";
            }

            $.post('/actuel_ppe1/web/index.php?page=gererDevs&code={{t.code}}',
                {
                    emailDev: draggableElement.getAttribute('data-email'),
                    action: action
                }
            );
        }
    });

    interact('.drag-drop')
        .draggable({
            inertia: false,
            autoScroll: true,
            // dragMoveListener from the dragging demo above
            onmove: dragMoveListener
        });

    function dragMoveListener(event) {
        var target = event.target,
            // keep the dragged position in the data-x/data-y attributes
            x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
            y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

        // translate the element
        target.style.webkitTransform =
            target.style.transform =
            'translate(' + x + 'px, ' + y + 'px)';

        // update the posiion attributes
        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);
    }
</script>
{% endblock %}
